[submodule "project/Libft/libft-unit-test"]
	path = project/Libft/libft-unit-test
	url = git@github.com:alelievr/libft-unit-test.git
[submodule "project/Ft_printf/ft_printf_tester"]
	path = project/Ft_printf/ft_printf_tester
	url = git@github.com:paulo-santana/ft_printf_tester.git
[submodule "project/FdF/minilibx-linux"]
	path = project/FdF/minilibx-linux
	url = https://github.com/42paris/minilibx-linux
[submodule "project/pipex/pipex-tester"]
	path = project/pipex/pipex-tester
	url = https://github.com/vfurmane/pipex-tester
[submodule "project/pipex/42_pipex_tester"]
	path = project/pipex/42_pipex_tester
	url = git@github.com:michmos/42_pipex_tester.git
[submodule "project/push_swap/push_swap_tester"]
	path = project/push_swap/push_swap_tester
	url = git@github.com:laisarena/push_swap_tester.git
[submodule "project/push_swap/push_swap_visualizer"]
	path = project/push_swap/push_swap_visualizer
	url = git@github.com:o-reo/push_swap_visualizer.git
[submodule "project/minishell/readline"]
	path = project/minishell/readline
	url = https://git.savannah.gnu.org/git/readline.git
