*.png filter=lfs diff=lfs merge=lfs -text
guide/FdF_42_example.png filter=lfs diff=lfs merge=lfs -text
guide/inception_preamble.png filter=lfs diff=lfs merge=lfs -text
guide/inception_diagram.png filter=lfs diff=lfs merge=lfs -text
