# 忽略所有文件
*

# 但不要忽略任何目录，这样 Git 才能在目录中继续匹配下面的规则
!*/

# 保留 .gitignore 本身
!.gitignore

# 保留任何层级下的 .cpp、.pp、.hpp、.Makefile 文件
# “**/” 可以匹配任意深度目录，包括根目录下（在某些 Git 版本中，“**/*.cpp”也能匹配根目录下的 *.cpp，但写上更保险）
!**/*.cpp
!**/*.hpp
!**/*Makefile
