# DOMAIN
DOMAIN_NAME=jenway.42.fr

# MYSQL
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=wp_pass
MYSQL_ROOT_PASSWORD=root_pass

# WP Admin
WP_ADMIN_USER=superuser
WP_ADMIN_PASSWORD=strongpass123!
WP_ADMIN_EMAIL=admin@42.fr

# WP Author User
WP_USER=writer
WP_USER_PASSWORD=writerpass
WP_USER_EMAIL=writer@42.fr

# 当前用户名（用于挂载路径）
USER=jenway
